.mud-tab {
    text-transform: none;
}

.mud-button {
    text-transform: none;
}

/***** drop-zone ******/

.drop-zone {
    display: flex !important;
    border: 1px dashed #75868a;
    min-height: 30px;
    align-items: center;
    margin-top: -1px;
    margin-left: -1px;
    padding: 5px 5px 5px 5px;
    z-index: 1;
}

    .drop-zone:hover {
        border: 1px dashed red;
        z-index: 2;
    }

    .drop-zone.no-drop {
        border: 2px dashed red;
    }

    .drop-zone.can-drop {
        border: 2px dashed green;
    }

    .drop-zone.is-selected {
        border: 2px dashed blue;
        z-index: 3;
    }

    .drop-zone .mud-input-control.mud-input-input-control {
        margin-top: 0;
    }

    /*.drop-zone .mud-input-control > .mud-input-control-input-container > div.mud-input.mud-input-text {
        margin-top: 0;
    }*/


/***** Menu Zone ******/

.mud-badge-root .menu-zone {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s linear,opacity 0.2s linear;
}

.mud-badge-root:hover .menu-zone {
    cursor: pointer;
    visibility: visible;
    opacity: 1;
    z-index: 4 !important;
}

.menu-zone > .mud-badge.mud-badge-icon .mud-icon-badge {
    font-size: 16px;
    margin-inline-start: -4px;
    margin-top: -2px;
}

.menu-zone > .mud-badge {
    font-size: 16px;
}

.menu-zone-button-focus:hover {
    /*transform: scale(1.2);*/
    outline: solid 1px black;
}

.menu-zone.mud-badge-wrapper {
    pointer-events: all;
}


/***** Parameters Menu ******/

.parameters-menu {
    align-items: center !important;
}

.parameters-menu input {
    padding: 4px !important;
    /*display: flex !important;
    border: 1px solid #75868a;
    min-height: 30px;
    align-items: center;
    margin-top: -1px;
    margin-left: -1px;
    padding: 5px 5px 5px 5px;*/
}

    .parameters-menu .mud-input > input.mud-input-root, div.mud-input-slot.mud-input-root {
        background-color: aliceblue;
        border-radius: var(--mud-default-borderradius);
        font-size: 0.8em;
    }

    .parameters-menu .mud-input-control {
        margin-top: 0;
    }

/***** Components Menu ******/

.components-menu .mud-tab {
    justify-content: unset;
}

.components-menu .mud-tabs {
    height: 350px;
    text-transform: unset;
}

.components-menu .mud-tabs-panels.mud-tabs-vertical {
    display: block;
}

.components-menu .mud-icon-button {
    padding: 0 !important;
}

.components-menu.mud-dialog {
    /*--mud-palette-dark*/
    background-color: var(--mud-palette-tertiary);
    color: var(--mud-palette-white);
}

.components-menu .mud-icon-button {
    color: unset;
}

/*    .mud-input.mud-input-outlined .mud-input-outlined-border {
        background-color: antiquewhite;
        color: black;
    }*/