.dropzone {
    display: flex !important;
    border: 1px dashed #75868a;
    min-height: 30px;
    align-items: center;
    margin-top: -1px;
    margin-left: -1px;
    padding: 5px 5px 5px 5px;
}

    .dropzone.no-drop {
        border: 2px dashed red;
    }

    .dropzone.can-drop {
        border: 2px dashed green;
    }

    .dropzone .mud-input-control {
        margin-top: 0;
    }

        .dropzone .mud-input-control > .mud-input-control-input-container > div.mud-input.mud-input-text {
            margin-top: 0;
        }

.mud-badge-root .menuzone {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s linear,opacity 0.2s linear;
    z-index: 2;
}

.mud-badge-root:hover .menuzone {
    visibility: visible;
    opacity: 1;
}

.menuzone > .mud-badge.mud-badge-icon .mud-icon-badge {
    font-size: 16px;
    margin-inline-start: -4px;
    margin-top: -2px;
}

.menuzone > .mud-badge {
    font-size: 16px;
}

.menuzone-button-focus:hover {
    /*transform: scale(1.2);*/
    outline: solid 1px black;
}