@using System.Text.Json
@using PoC03B.Shared
@using System.Linq

@inject HttpClient httpClient
@inject ISnackbar snackBar;

@if (formComponents.Any())
{
    <CascadingValue Value="formAction">
        @for(int rowId = 1; rowId <= MaxRowId(); rowId++)
        {
            <div class="mud-grid mud-grid-spacing-xs-3 mud-grid-justify-xs-flex-start align-end">
                <Virtualize Items="GetFormComponentsByRow(rowId)" Context="formComponent">
                    <MudItem xs="@formComponent.Xs">
                        <DynamicComponent Type="@formComponent.ComponentType" Parameters="@formComponent.Parameters"></DynamicComponent>
                    </MudItem>
                </Virtualize>
            </div>
        }
    </CascadingValue>
}